<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/src/public/mian.css">
<%- include('partials/head.ejs')%>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <header>
        <!-- <img src="/public/el enzo.jpg" alt="w-25"> -->
    </header>
    
</body>
</html>