<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur molestiae similique laudantium facilis!
        Facilis quo fugiat molestias nobis magni dolores nisi adipisci earum illum eligendi, id aperiam minima soluta
        velit vitae necessitatibus iusto cum quod consequatur quidem reiciendis illo. Alias placeat eum fugit fuga sunt!
        Eligendi corporis cupiditate aspernatur vel, ducimus atque eius quisquam amet quae natus labore, laudantium
        consectetur ipsa deserunt veritatis ad culpa nulla voluptatibus reprehenderit rem. Assumenda nesciunt laudantium
        doloremque fugiat dolore, deleniti veritatis sunt adipisci facere aut unde quam ipsum ipsam maiores possimus
        maxime similique eveniet nostrum est commodi! Asperiores, sapiente at? Fuga, quam.</p>
</footer>